<div class="row pt-5">
    <div class="col-12 resume-header">
        <h3>Experiencia profesional</h3>
    </div>
    <div class="col-12">
        <div class="experience-item">
            <div class="experience-info">
                <div class="date with-icons">
                    <span class="date-numbers">
                        <i class="far fa-calendar-alt"></i>
                        12/2014 – Actual
                    </span>

                    <span class="date-address">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="ml-1">Bilbao</span>
                    </span>
                    </div>
                    <div class="position">Front-end engineer</div>
                    <div class="company-name">Ve Global</div>
                </div>
                <div class="experience-description">
                    <div part="0">
                        <ul part="0">
                            <li class="description " part="0">
                                Responsable de la parte frontend en la creación de aplicaciones responsive de gestión de campañas, configuración de productos y reporte de las mismas con las siguientes tecnologías:
                                <p><i class="fa fa-chevron-right mr-1" aria-hidden="true"></i>React JS - Redux</p>
                                <p><i class="fa fa-chevron-right mr-1" aria-hidden="true"></i>VueJS</p>
                                <p><i class="fa fa-chevron-right mr-1" aria-hidden="true"></i>GraphQL - PostgreSQL</p>
                                <p><i class="fa fa-chevron-right mr-1" aria-hidden="true"></i>Bootstrap - Foundation framework</p>
                                <p><i class="fa fa-chevron-right mr-1" aria-hidden="true"></i>Grunt</p>
                                <p><i class="fa fa-chevron-right mr-1" aria-hidden="true"></i>SASS</p>
                                <p><i class="fa fa-chevron-right mr-1" aria-hidden="true"></i>HTML5 & CSS3</p>
                                <p><i class="fa fa-chevron-right mr-1" aria-hidden="true"></i>JavaScript & JQuery</p>
                                <p><i class="fa fa-chevron-right mr-1" aria-hidden="true"></i>NPM</p>
                                <p><i class="fa fa-chevron-right mr-1" aria-hidden="true"></i>GIT/JIRA</p>
                            </li>
                            <li>Testing con <strong>Cypress</strong> (end to end) y <strong>Enzyme</strong> (unit test)</li>
                            <li>La parte backend de dichas aplicacion estan basadas en <strong>MVC</strong> y <strong>.NET / NET Core</strong></li>
                            <li class="description " part="0">Tareas de DevOps con <strong>AZURE Microsoft</strong>, despliegues automáticos con <strong>Visual Studio Online</strong>
                                o <strong>Octopus</strong>. Tareas básicas con <strong>Puppet</strong> y <strong>Kubernetes</strong> (Docker)
                            </li>
                            <li>Metodologia ágil SCRUM:
                                <p><i class="far fa-check-circle"></i> Pre-planning meeting</p>
                                <p><i class="far fa-check-circle"></i> Sprint planning meeting</p>
                                <p><i class="far fa-check-circle"></i> Daily meeting / Stand Up/p>
                                <p><i class="far fa-check-circle"></i> Retrospectiva</p>
                            </li>
                            <li class="description " part="0">
                                <span><i class="fas fa-link"></i>
                                    <a href="https://www.ve.com/" class="linkified ml-1" target="_blank">Ve Global website</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="experience-item">
                <div class="experience-info">
                    <div class="date with-icons">
                        <span class="date-numbers">
                            <i class="far fa-calendar-alt"></i>
                            06/2014 – 12/2014
                        </span>
    
                        <span class="date-address">
                            <i class="fas fa-map-marker-alt"></i>
                            <span class="ml-1">Lezama</span>
                        </span>
                        </div>
                        <div class="position">Front-end developer</div>
                        <div class="company-name">Skunkfunk</div>
                    </div>
                    <div class="experience-description">
                        <div part="0">
                            <ul part="0">
                                <li class="description" part="0">
                                    Gestión y desarrollo de web coorporativa de la marca Skunkfunk. Web basada en HTML5, CSS3, jquery y JavaScript.
                                </li>
                                <li class="description" part="0">Adaptación a web responsive.</li>
                                <li class="description" part="0">Gestión de wordpress, email marketing (MailChimp) y posicionamiento web.</li>                                   
                                <li><i class="fas fa-link"></i>
                                    <a href="https://www.skfk-ethical-fashion.com/es" class="linkified ml-1" target="_blank">Skunkfunk website</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="experience-item">
                    <div class="experience-info">
                        <div class="date with-icons">
                            <span class="date-numbers">
                                <i class="far fa-calendar-alt"></i>
                                02/2011 – 09/2013
                            </span>
        
                            <span class="date-address">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="ml-1">Derio</span>
                            </span>
                            </div>
                            <div class="position">Técnico de soporte de IT | Operador de procesos</div>
                            <div class="company-name">IDE | Informática de Euskadi</div>
                        </div>
                        <div class="experience-description">
                            <div part="0">
                                <ul part="0">
                                    <li class="description" part="0">Virtualización, instalaciones y comunicaciones de software y hardware</li>
                                    <li class="description" part="0">Instalación y configuración de software</li>
                                    <li class="description" part="0">Soporte microinformatica</li>
                                    <li class="description" part="0">CAU técnico</li>
                                    <li class="description" part="0">
                                        <span>
                                            Operador y planificador de procesos Batch bajo Control-M (z/os).
                                            Seguimiento y control de los procesos.
                                            Resolución de peticiones relacionas con Batch de los equipos de desarrollo y técnicos con TSO e ISPF de IBM
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="experience-item">
                        <div class="experience-info">
                            <div class="date with-icons">
                                <span class="date-numbers">
                                    <i class="far fa-calendar-alt"></i>
                                    02/2009 – 06/2009
                                </span>
            
                                <span class="date-address">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span class="ml-1">Zamudio</span>
                                </span>
                                </div>
                                <div class="position">Software developer</div>
                                <div class="company-name">Information Builders</div>
                            </div>
                            <div class="experience-description">
                                <div part="0">
                                    <ul part="0">
                                        <li class="description " part="0">
                                            <span>Desarrollo de una herramienta interna de gestion para empleados en WebFocus.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>









       <!-- <div class="timeline-wrap">
            <div class="timeline-block">
                <div class="timeline-ico">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
                <div class="timeline-header">
                    <h4>Front-End Developer</h4>
                    <p>Diciembre 2014 - Actual</p>
                </div>
                <div class="timeline-content">
                    <h4>Ve Global</h4>
                    <div>Desarrollo de aplicaciones web responsive.
                        <p><i class="fa fa-chevron-right" aria-hidden="true"></i> <strong>React JS - VueJS</strong></p>
                        <p><i class="fa fa-chevron-right" aria-hidden="true"></i> <strong>Bootstrap - Foundation</strong></p>
                        <p><i class="fa fa-chevron-right" aria-hidden="true"></i> <strong>HTML5 + CCS3</strong></p>
                        <p><i class="fa fa-chevron-right" aria-hidden="true"></i> CSS Preprocesadores: <strong>SASS</strong></p>
                        <p><i class="fa fa-chevron-right" aria-hidden="true"></i> JavaScript + jQuery</p>
                        <p><i class="fa fa-chevron-right" aria-hidden="true"></i> <strong>NPM</strong></p>
                        <p><i class="fa fa-chevron-right" aria-hidden="true"></i> <strong>MVC</strong> .Net </p>
                        <p><i class="fa fa-chevron-right" aria-hidden="true"></i> Puppet</p>
                        <p><i class="fa fa-chevron-right" aria-hidden="true"></i> Despliegue de código mediante VSO o Octopus y Kubernetes para codigo contenerizado en Docker (DevOps)</p>
                        <p><i class="fa fa-chevron-right" aria-hidden="true"></i> Metodología ágil <strong>SCRUM</strong></p>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-ico">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
                <div class="timeline-header">
                    <h4>Web Master</h4>
                    <p>Julio 2014 - Diciembre 2014</p>
                </div>
                <div class="timeline-content">
                    <h4>Skunkfunk - Bizz Hectic</h4>
                    <p>Responsable de la gestión y desarrollo de web corporativa.</p>
                    <p>Gestión de WordPress, email marketing (MailChimp) y posicionamiento web.</p>
                    <p><i class="fa fa-plus" aria-hidden="true"></i><strong> HTML5 , CSS3, Jquery y JavaScript</strong></p>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-ico">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
                <div class="timeline-header">
                    <h4>Técnico Informático de Sistemas</h4>
                    <p>Febrero 2011 - Septiembre 2013</p>
                </div>
                <div class="timeline-content">
                    <h4>Informática de Euskadi - IDE</h4>
                    <div>
                        <strong><i class="fa fa-angle-double-left" aria-hidden="true"></i> Dpto. Operaciones <i class="fa fa-angle-double-right" aria-hidden="true"></i></strong>
                        <p class="mrg-left">Planificadora Host (Control del Batch) </p>
                    </div>
                    <div>
                        <strong><i class="fa fa-angle-double-left" aria-hidden="true"></i> Dpto. HelpDesk <i class="fa fa-angle-double-right" aria-hidden="true"></i></strong>
                        <p class="mrg-left">C.A.U y Soporte Técnico</p>
                  </div>
                    <div>
                        <strong><i class="fa fa-angle-double-left" aria-hidden="true"></i> Dpto. Instalaciones <i class="fa fa-angle-double-right" aria-hidden="true"></i></strong>
                        <p class="mrg-left">Instalación, configuración y reparación de sistemas microinformáticos y redes</p>
                    </div>
                </div>
            </div> 
        </div>  -->   			
    </div> 
</div>