<style>
    .intro-info img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    margin: .9rem 0 0 0;
    float: left;
}
img, video {
    max-width: 100%;
    height: auto;
}
</style>

<div class="row">
  <div class="col-12 col-md-3">
    <div class="intro-info">
      <img src="./assets/images/profile-pic.jpg" alt="Profile Picture">
    </div>
  </div>

  <div class="col-12 col-md-9">
    <h3>Sobre mí</h3>
    <div class="intro-info">
      <p class="lead">Bilbaina apasionada de la parte "front de las cosas". 
        Programadora frontend desde hace más de 7 años y casi 9 vinculada a la infomática. Habituada a trabajar en equipo mediante metologías ágiles, preocupada en la calidad y el pixel.
        Siempre con ganas de aprender y poner en práctica las últimas novedades front <i class="far fa-smile"></i>
      </p>
    </div>
  </div>
</div>
