<div class="row pt-5">
    <div class="col-12 resume-header">
        <h3>Cursos</h3>
    </div> 

    <div class="col-12">

        <div class="timeline-wrap">
            <div class="timeline-block">

                <div class="timeline-ico">
                    <h4><i class="fa fa-signal mr-2" aria-hidden="true"></i>Analítica digital Mide y Venceras</h4>
                    <p>[Lin3s - 40h]</p>
                </div>
            </div> 
            <div class="timeline-block">
                <div class="timeline-ico">
                    <h4><i class="fa fa-female mr-2" aria-hidden="true"></i>Curso de formación UX/IxD </h4>
                    <p>[Binima - 30h]</p>
                </div>
            </div> 
            <div class="timeline-block">

                <div class="timeline-ico">
                    <h4><i class="fa fa-camera-retro mr-2" aria-hidden="true"></i>Photoshop CS6 Básico</h4>
                    <p>[Centro San Luis - 50h]</p>
                </div>
            </div> 
            <div class="timeline-block">
                <div class="timeline-ico">
                    <h4> <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>SEO, SEM y estrategias de Márketing Online</h4>
                    <p>[Consultec - 30h]</p>
                </div>
            </div> 
            <div class="timeline-block">

                <div class="timeline-ico">
                    <h4><i class="fa fa-mobile mr-2" aria-hidden="true"></i>Mobile Developer: HTML5, CSS3 y Android</h4>
                    <p>[Campus B2 - 250h]</p>
                </div>
            </div>
            <div class="timeline-block">

                <div class="timeline-ico">
                    <h4><i class="fa fa-lock mr-2" aria-hidden="true"></i>Certificado en Seguridad de Incidentes Informáticos</h4>
                    <p>[Centro San Luis - 90h]</p>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-ico">
                    <h4><i class="fa fa-users mr-2" aria-hidden="true"></i>Optimización de la organización del trabajo, reuniones y herramientas para la toma de decisión · Trabajo en equipo: Participación y Motivación · Innovación · Gestión de personas </h4>
                    <p>[Consultec - 50h]</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row pt-5">
    <div class="col-12 resume-header">
        <h3>Certificaciones</h3>
    </div> 

    <div class="col-12">

        <div class="timeline-wrap">
            <div class="timeline-block">

                <div class="timeline-ico">
                    <h4><i class="fa fa-user-secret mr-2" aria-hidden="true"></i>Introduction to cyber security: stay safe online</h4>
                    <a href="https://www.open.edu/openlearn/comment/25783" target="_blank">The Open University</a>
                </div>
            </div> 
        </div>
    </div>
</div>