<div class="row  pt-5">
    <div class="col-12 resume-header">
        <h3>Formación</h3>
    </div>
    <div class="col-12">
        <div class="mb-4">
            <div class="timeline-ico">
                <h5 class="text-display">Técnica Superior en Administración de Sistemas Informáticos</h5>
            </div>

            <div class="date with-icons ml-2">
                <span class="date-numbers mr-1">
                    <i class="far fa-calendar-alt"></i>
                    2009 - 2011
                </span>

                <span class="date-address">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="ml-1">CIFP Txurdinaga LHII</span>
                </span>
            </div>
        </div>
        <div class="mb-4">
            <div class="timeline-ico">
                <h5 class="text-display">Técnica Superior en Desarrollo en Aplicaciones Informáticas</h5>
            </div>

            <div class="date with-icons ml-2">
                <span class="date-numbers mr-1">
                    <i class="far fa-calendar-alt"></i>
                    2007 - 2009
                </span>

                <span class="date-address">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="ml-1">CIFP Txurdinaga LHII</span>
                </span>
            </div>
        </div>
        <div class="mb-4">
            <div class="timeline-ico">
                <h5 class="text-display">Licenciatura en Bellas Artes</h5>
            </div>

            <div class="date with-icons ml-2">
                <span class="date-numbers mr-1">
                    <i class="far fa-calendar-alt"></i>
                    2005 - 2007
                </span>

                <span class="date-address">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="ml-1">Universidad del País Vasco - UPV/EHU</span>
                </span>
            </div>      
        </div>			
    </div>   
</div> 
<!--<div class="row resume-timeline">

    <div class="col-12 resume-header">

        <h2>Certificaciones</h2>

    </div> 

    <div class="col-12">

        <div class="timeline-wrap">

            <div class="timeline-block">

                <div class="timeline-ico">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                </div>
                <div class="timeline-content">
                    <h4>Introduction to cyber security: stay safe online</h4>
                    <p>The Open University</p>
                    <a class="button" href="https://www.open.edu/openlearn/comment/25783" target="_blank">Ver curso</a>
                </div>

            </div>

        </div> 		

    </div> 
    
</div> -->